
@mixin tubes {
margin: 5px;
width: 5em;
color: white;
text-align: center;
padding-top: 10px;
font-size: 0.7em;
font-style: italic;
border-radius: 10px;
   -moz-box-shadow:    0px 0px 3px #ccc;
   -webkit-box-shadow: 0px 0px 3px #ccc;
    box-shadow:        0px 1px 10px 1px #333;
}

/*---------------------------index page styles--------------------------------*/

div {
  border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title{
  grid-column: 2/9;
  grid-row: 1/2;
  background: yellow;
  text-align: center;
    p{
      font-size: 50px;
      margin: 3%;
    }
}

.major{
  grid-column: 2/9;
  grid-row: 2/3;
}


.wrap-main{
  display:grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  max-width: 1000px;
  max-height: 1500px;
  margin: 5em;
}

.wrap_mag {
  grid-row: 3/4;
  grid-column: 2/9;
  height: 20em;
  display: flex;
  background: #ccc;
  background: linear-gradient( #ccc, #fff);
}

.minor {
  grid-column: 2/9;
  grid-row: 4/5;
}

.wrap_min {
  grid-row: 5/6;
  grid-column: 2/9;
  display: flex;
  background: #aaa;
  background: linear-gradient( #aaa, #ccc);
}

.met{
  grid-row: 6/7;
  grid-column: 2/9;
}

.metronome {
  grid-row: 7/8;
  grid-column: 2/9;
  height: 5em;
  background: #999;
  text-align: center;
}

/*------------------------ button stiles ----------------------------------*/

.DOmin{
  @include tubes
  margin-top: 35px;
  height: 275px;
  background: red;
  background: linear-gradient(to bottom right, red, #ff8566);
}

.DO_RE{
  @include tubes
  margin-top: 50px;
  height: 260px;
  background: #ff8566;
}

.RE{
  @include tubes
  margin-top: 60px;
  height: 250px;
  background: orange;
  background: linear-gradient(to bottom right, #e65c00, #ff944d);
}

.RE_MI{
  @include tubes
  margin-top: 70px;
  height: 240px;
  background: #ffbb33;
}

.MI{
  @include tubes
  margin-top: 85px;
  height: 225px;
  background: #ffbb33;
  background: linear-gradient(to bottom right, #ffbb33, #ffd480);
}

.FA{
  @include tubes
  margin-top: 110px;
  height: 200px;
  background: #00cc00;
  background: linear-gradient(to bottom right, #00cc00, #00ff00);
}
.FA_SOL{
  @include tubes
  margin-top: 120px;
  height: 190px;
  background: #00dd00;
}

.SOL{
  @include tubes
  margin-top: 135px;
  height: 175px;
  background-color: #006600;
  background: linear-gradient(to bottom right, #006600, #009900);
}

.SOL_LA{
  @include tubes
  margin-top: 145px;
  height: 165px;
  background-color: #009900;
}

.LA{
  @include tubes
  margin-top: 160px;
  height: 150px;
  background-color: #2e2eb8;
  background: linear-gradient(to bottom right, #2e2eb8, #5c5cd6);
}

.LA_SI{
  @include tubes
  margin-top: 170px;
  height: 140px;
  background-color: #5c7dd6;
}

.SI{
  @include tubes
  margin-top: 185px;
  height: 125px;
  background-color: #cc0099;
  background: linear-gradient(to bottom right, #cc0099, #cc0099);
}

.DOmag{
  @include tubes
  margin-top: 210px;
  height: 100px;
  background-color: #ff0000;
  background: linear-gradient(to bottom right, red, #ff8566);
}


.button {
  display: inline-block;
	font-size: 18px;
	color: #2f70e1;
	padding: 10px 30px;
  margin-right: 10px;
  margin-bottom: 30px;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
